.App {
  text-align: center;
}

.bg-war{
  background:#ffee01 ;
}
.bg-succ{
  background: #09bd45;
}
.bg-dan{
  background: #ce0e0e;
}
.info-d{
  height: 5px !important;
  width: 30%;
}
.hr{
  height: 4px !important;
}